@media (min-width: 320px) and (max-width: 700px) {
body{
      
        padding:16px 32px;
        margin:0px;
        
}
main{
        width:100vw;
        display:flex;
        flex-direction: column;
        gap:2rem;
        align-items: center;
        
        margin:0px;


}

article{
  border-radius: 8px;
  width:100%;
  height:100%;
  padding:1.2rem;
}
img{
    width:100px; /* Do not foregt to remove this*/
}
h2 , h3{
    line-height: 1;
    letter-spacing: -2;
    font-weight: bold;
}
.social-media{
    order:0;
    color:white;
    text-align: center;
    padding:1rem;
}
.social-media img{
    width:50%;
    max-width:200px;
}

.manage-accounts{
    order:1;
    

}
.manage-accounts h2{
    font-size:1rem;
}
.manage-accounts img{
    width:100%;
    max-width:200px;
}
.posting-consist{
    order:2;
  
   display:flex;

}

.Schedule{
    order:3;
    
    display:flex;
    flex-direction: column;
    gap:1rem;


}
.Schedule img{
    width:100%;
    max-width:100%;
    

}
.grow-followers{
    order:4;
    display: flex;
    flex-direction: column-reverse;
    color:white;
    gaP:1rem;

}
.grow-followers img{
    width:100%; 

}
.audience{
    order:6;
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
}
.audience img{
    width:80%;
}

.left{
    order:8;
    align-items: center;
    justify-content: center;
    
}
.left .Create-Schedule , .left .content-ai{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.content-ai img{
    width:80%;
}
}